unpackaged/main/default/flows/Create_Opp_and_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>1634</locationX>
        <locationY>2054</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>fmlaManualFinishURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Quote_0</name>
        <label>Navigate to Quote Import Lines</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>ImportLinesURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Quote_0_0</name>
        <label>Navigate to Quote</label>
        <locationX>1370</locationX>
        <locationY>2054</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>fmlaCommunityManualURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Quote_0_0_0</name>
        <label>Navigate to Quote Import Lines</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>fmlaCommunityImportLinesURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Defaults</name>
        <label>Assign Defaults</label>
        <locationX>1172</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.SBQQ__QuotePricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Agent_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaAgentContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Market_Sub_Market.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Sub_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Market_Sub_Market.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Regional_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency.Regional_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Bid_or_Buy_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCS_Bid_or_Buy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputProjectAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.EngineerCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEngineerCompany.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_quote</name>
        <label>Assign new quote</label>
        <locationX>1172</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.Shipping_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuote.Contractor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractor.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BulkAdd</name>
        <choiceText>Product Adder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bulk Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAD</name>
        <choiceText>CAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ImportLines</name>
        <choiceText>Import Lines (via .csv)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import Lines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Manual</name>
        <choiceText>Manually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manually</stringValue>
        </value>
    </choices>
    <choices>
        <name>NullChoice</name>
        <choiceText>Not Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <decisions>
        <name>All_Fields_Populated</name>
        <label>All Fields Populated</label>
        <locationX>611</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Get_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Bid_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NullChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Data</targetReference>
            </connector>
            <label>Missing Bid Buy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cable_Management</name>
        <label>Cable Management?</label>
        <locationX>446</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>launch_add_products_job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cable Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cable_Management_Product_Adder</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_URL_Decision</name>
        <label>Community URL Decision</label>
        <locationX>974</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Quote_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Quote_0_0_0</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_URL_Decision_0</name>
        <label>Community URL Decision</label>
        <locationX>1502</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Quote_0_0</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_an_Agent</name>
        <label>Is User an Agent?</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Agent</defaultConnectorLabel>
        <rules>
            <name>Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_Contact</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_to_exit</name>
        <label>Where to exit</label>
        <locationX>1172</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bulk_Adder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Do_You_Want_to_Add_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BulkAdd</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cable_Management</targetReference>
            </connector>
            <label>Bulk Adder</label>
        </rules>
        <rules>
            <name>Import_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Do_You_Want_to_Add_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_ImportLines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_URL_Decision</targetReference>
            </connector>
            <label>Import Lines</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Do_You_Want_to_Add_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Manual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_URL_Decision_0</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <description>making contractor required and adding link to create new contractor</description>
    <dynamicChoiceSets>
        <name>PCS_Bid_or_Buy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Bid_or_Buy_Picklist__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Market</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Market__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Product_Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Product_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcs_AgentContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAgentAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAgentContactIDFromPicklist</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Default_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&quot;{Add Opportunity Name}&quot;</expression>
    </formulas>
    <formulas>
        <name>DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>fmlaAgentContact</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( {!varAgentContactIDFromPicklist},  {!Agent_Contact.recordId})</expression>
    </formulas>
    <formulas>
        <name>fmlaCommunityImportLinesURL</name>
        <dataType>String</dataType>
        <expression> &quot;https://atkore--uat.sandbox.my.site.com/s/sfdcpage/%2Fapex%2FSBQQ__ImportLines%3F%26id%3D&quot; &amp; {!NewQuote.Id}</expression>
    </formulas>
    <formulas>
        <name>fmlaCommunityManualURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://atkore--uat.sandbox.my.site.com/s/sfdcpage/%2Fapex%2FSBQQ__sb%3F%26id%3D&quot; &amp; {!NewQuote.Id}</expression>
    </formulas>
    <formulas>
        <name>fmlaManualFinishURL</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Enterprise_Server_URL_560} , FIND( &#39;my.salesforce&#39;, {!$Api.Enterprise_Server_URL_560} ) - IF(CONTAINS({!$Api.Enterprise_Server_URL_560} , &quot;sandbox&quot;),10,2))
&amp; &quot;--sbqq.&quot;
&amp; IF(CONTAINS({!$Api.Enterprise_Server_URL_560} , &quot;sandbox&quot;), &quot;sandbox.&quot;, &quot;&quot;)
&amp; &quot;vf.force.com/apex/sb?scontrolCaching=1&amp;id=&quot; 
&amp;  {!NewQuote.Id}  
&amp; &quot;#quote/le?qId=&quot; 
&amp;   {!NewQuote.Id}</expression>
    </formulas>
    <formulas>
        <name>fmlaUserIsAgent</name>
        <dataType>Boolean</dataType>
        <expression>NOT( ISBLANK( {!$User.ContactId} ) )</expression>
    </formulas>
    <formulas>
        <name>ImportLinesURL</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Enterprise_Server_URL_560} , FIND( &#39;my.salesforce&#39;, {!$Api.Enterprise_Server_URL_560} ) - IF(CONTAINS({!$Api.Enterprise_Server_URL_560} , &quot;sandbox&quot;),10,2))
&amp; &quot;--sbqq.&quot;
&amp; IF(CONTAINS({!$Api.Enterprise_Server_URL_560} , &quot;sandbox&quot;), &quot;sandbox.&quot;, &quot;&quot;)
&amp; &quot;vf.force.com/apex/ImportLines?scontrolCaching=1&amp;id=&quot; &amp; {!NewQuote.Id}</expression>
    </formulas>
    <interviewLabel>Create Opp and Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opp and Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1172</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Assign_new_quote</targetReference>
        </connector>
        <inputReference>OpportunityToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1172</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Where_to_exit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>flowFaultMessage</targetReference>
        </faultConnector>
        <inputReference>NewQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agency</name>
        <label>Get Agency</label>
        <locationX>1172</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agency.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Account</name>
        <label>Get Agent Account</label>
        <locationX>479</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agent_Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAgentAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_Contact</name>
        <label>Get Agent Contact</label>
        <locationX>479</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_RT</name>
        <label>Get Project RT</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_an_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChannelOppty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_Fields_Populated</targetReference>
        </connector>
        <fields>
            <name>Create_New_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contractor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contractor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contractor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>inputProjectAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Project__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>inputEngineerCompany</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>EngineerCompany__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Engineer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CreateNewContractor</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://atkore.force.com/s/account/Account&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(32, 33, 36); font-family: Roboto, arial, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;ⓘ &lt;/strong&gt;&lt;/a&gt;&lt;a href=&quot;https://atkore.force.com/s/account/Account&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;If you can&#39;t find the contractor, create a new contractor here.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Agency</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Agency__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Agency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varAgentAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Agent_Contact_pcklist</name>
                    <choiceReferences>rcs_AgentContacts</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Agent Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fmlaUserIsAgent</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Agent_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Agent_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Agency Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fmlaUserIsAgent</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultCloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Bid_or_Buy</name>
                    <choiceReferences>NullChoice</choiceReferences>
                    <choiceReferences>PCS_Bid_or_Buy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bid or Buy?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Stage_Name</name>
                    <choiceReferences>PCS_StageName</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Quote Prep</stringValue>
                    </defaultValue>
                    <fieldText>Stage Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>USD</choiceReferences>
                    <choiceReferences>CAD</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USD</defaultSelectedChoiceReference>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>warningCAD</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(193, 170, 0);&quot;&gt;﻿Please Note: CAD Prices are currently available for FRE products only.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Currency</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CAD</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Market_Sub_Market</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Market__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Sub_Market__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Market</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Sub-Market</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Product_Category</name>
                    <choiceReferences>PCS_Product_Category</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Electrical</stringValue>
                    </defaultValue>
                    <fieldText>Product Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>How_Do_You_Want_to_Add_Products</name>
                    <choiceReferences>Choice_Manual</choiceReferences>
                    <choiceReferences>Choice_ImportLines</choiceReferences>
                    <choiceReferences>BulkAdd</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_Manual</defaultSelectedChoiceReference>
                    <fieldText>How Do You Want to Add Products?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>flowFaultMessage</name>
        <label>flowFaultMessage</label>
        <locationX>2162</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The Following Error Occurred: &lt;/strong&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Data</name>
        <label>Missing Data</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Bid or Buy selection is required to continue&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i&gt;Click &#39;Previous&#39; to go back and make a selection&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Cable_Management_Product_Adder</name>
        <label>Cable Management Product Adder</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <flowName>ProductAdder_v2_0</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewQuote.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>launch_add_products_job</name>
        <label>launch add products job</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <flowName>CreateAddProductsJob_PBE_version</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>OpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PrimaryContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAgentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAgentContactIDFromPicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
