unpackaged/main/default/flows/CreateAddProductsJob_PBE_version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>commit_transaction</name>
        <label>commit transaction</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Format_SOQL_IN_Query</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>commit_transaction_0</name>
        <label>commit transaction</label>
        <locationX>182</locationX>
        <locationY>4094</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Loop_Through_all_items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>commit_transaction_0_0</name>
        <label>commit transaction</label>
        <locationX>270</locationX>
        <locationY>4814</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>AssignFinalCreateToEmptyCollection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Convert_Pricing_Division_Collection_to_String</name>
        <label>Convert Pricing Division Collection to String</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_query</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>formattedCollectionOfPricingDivisions</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CPQ_Pricing_Division_Picklist</name>
        <label>CPQ Pricing Division Picklist</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <actionName>ManageMultiselectField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Thru_Pricing_Division</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__curRecord</typeName>
            <typeValue>SBQQ__Quote__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>Agency_Rep_d_Products__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curRecord</name>
            <value>
                <elementReference>GetQuote</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Execute_PBE_Query</name>
        <label>Execute PBE Query</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_AddProductsRequestedCollection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>PricebookEntry</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>queryUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PBE_from_query</name>
        <label>Find PBE from query</label>
        <locationX>952</locationX>
        <locationY>2270</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RequestedProductFound</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>PricebookEntry</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>PricebookEntry</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>PricebookEntry</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Execute_PBE_Query.sObjects</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <elementReference>queryScope</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>PricebookEntry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Loop_Through_AddProductsRequestedCollection.User_Entered_Product_Key__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Transform the IN formatted collection to a comma separated string so it can be used in a soql query</description>
        <name>Format_SOQL_IN_Query</name>
        <label>Format SOQL IN Query</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>ConvertStringCollectionToCSV</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CPQ_Pricing_Division_Picklist</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>InQueryFormattedCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>314</locationX>
        <locationY>6206</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>navigatetoquoteurl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Quote_0</name>
        <label>Navigate to Quote</label>
        <locationX>50</locationX>
        <locationY>6206</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>fmlaNavigatetoCommQuoteURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>take the user input values and parse them to a collection based on the delimiter variable</description>
        <name>Parseuserenteredvaluestoacollection</name>
        <label>Parse user entered values to a collection</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>ConvertToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_input_collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <elementReference>delimiter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialString</name>
            <value>
                <elementReference>UserEnteredProductCodes</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>queryforpbe</name>
        <label>queryforpbe</label>
        <locationX>358</locationX>
        <locationY>2870</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Generic_Sobject_to_product</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>PricebookEntry</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>queryUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Pricing_Division_to_collection</name>
        <label>Add Pricing Division to collection</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>formattedCollectionOfPricingDivisions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fmlaFormatCurrentPricingDivision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Pricing_Division</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_final_create_collection</name>
        <label>Add to final create collection</label>
        <locationX>490</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>FinalAddProductsCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Addproductjob_Assignment</name>
        <label>Addproductjob Assignment</label>
        <locationX>490</locationX>
        <locationY>5390</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_all_items.AddProductsJob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentaddproductjobid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_final_create_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creating 2 collections for AddProductsRequested and In Query collection</description>
        <name>AddProductRequestedAssignmentToCollection_0</name>
        <label>AddProductRequestedAssignmentToCollection</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AddProductsRequestedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddProductRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InQueryFormattedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputformattedForInQuery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_input_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Extra Assignment and collection due to bug with updating existing collection in loop</description>
        <name>AddtoFinalCreate</name>
        <label>AddtoFinalCreate</label>
        <locationX>952</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>AddProductCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_AddProductsRequestedCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_AddProductsRequestedCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_collection</name>
        <label>Assign Count of collection</label>
        <locationX>490</locationX>
        <locationY>4334</locationY>
        <assignmentItems>
            <assignToReference>loopcount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopcountplusone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign soql in query</description>
        <name>Assign_query</name>
        <label>Assign query</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>queryUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INQuery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_PBE_Query</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_queryUrl</name>
        <label>Assign queryUrl</label>
        <locationX>358</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>queryUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>querySingleProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>queryforpbe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddProductRequestFields</name>
        <label>AssignAddProductRequestFields</label>
        <locationX>798</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_AddProductsRequestedCollection.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_PBE_from_query.singleOutputMember.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoFinalCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddProductRequestFields_0</name>
        <label>AssignAddProductRequestFields</label>
        <locationX>358</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_AddProductsRequestedCollection.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PBESelection.outputSelectedRow.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoFinalCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddProductRequestFields_0_0</name>
        <label>AssignAddProductRequestFields</label>
        <locationX>1150</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_AddProductsRequestedCollection.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManyProductsFound.outputSelectedRow.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoFinalCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFinalCreateToEmptyCollection</name>
        <label>AssignFinalCreateToEmptyCollection</label>
        <locationX>270</locationX>
        <locationY>4934</locationY>
        <assignmentItems>
            <assignToReference>FinalAddProductsCreateCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_create_a_new_addproductjob</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The data table requires a specific sobject so we need to loop over the generic sobject and assign to a product collection</description>
        <name>AssignProductToCollection</name>
        <label>AssignProductToCollection</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntriesFound</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Generic_Sobject_to_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Generic_Sobject_to_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The data table requires a specific sobject so we need to loop over the generic sobject and assign to a product collection</description>
        <name>AssignProductToCollection_0</name>
        <label>AssignProductToCollection</label>
        <locationX>1238</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>PricebookEntriesForSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Multiple_Products_Found</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Products_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set values for each add product requested - includes the user entered key, a simple counter, and formatting for in query</description>
        <name>Build_Add_Product_records_from_user_input</name>
        <label>Build Add Product records from user input</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AddProductRequested.User_Entered_Product_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_input_collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserEnteredOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserEnteredOrderplusOne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddProductRequested.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserEnteredOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputformattedForInQuery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatInputForInQuery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProductRequestedAssignmentToCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Variables</name>
        <label>Initialize Variables</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AddProjectJob.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddProjectJob.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>delimiter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetDelimiter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserEnteredProductCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnterValuesNoSpaces</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queryScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Scope</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parseuserenteredvaluestoacollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_counter</name>
        <label>reset counter</label>
        <locationX>270</locationX>
        <locationY>5174</locationY>
        <assignmentItems>
            <assignToReference>loopcount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addproductjob_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>commaseparated</name>
        <choiceText>Comma Separated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExternalId</name>
        <choiceText>External Id</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product_External_ID__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Name</name>
        <choiceText>Catalog Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewLine</name>
        <choiceText>Line Break</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>\n</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProductCodeChoice</name>
        <choiceText>Part Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProductCode</stringValue>
        </value>
    </choices>
    <choices>
        <name>Researchforproducts</name>
        <choiceText>Re-search for Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-search</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skipandaddlater</name>
        <choiceText>Skip and add later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skip</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decide_count</name>
        <label>Decide count</label>
        <locationX>490</locationX>
        <locationY>4454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>count_equals_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_first_final_create_collection</targetReference>
            </connector>
            <label>count equals 20</label>
        </rules>
        <rules>
            <name>count_less_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopcount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addproductjob_Assignment</targetReference>
            </connector>
            <label>count &lt; 20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirect_URL</name>
        <label>Redirect URL</label>
        <locationX>182</locationX>
        <locationY>6086</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Quote_0</targetReference>
            </connector>
            <label>Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>requery_or_skip_failed</name>
        <label>requery or skip failed?</label>
        <locationX>490</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>AddtoFinalCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>skip</defaultConnectorLabel>
        <rules>
            <name>requery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Researchforproducts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_queryUrl</targetReference>
            </connector>
            <label>requery</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to handle the addproductrequested and product query comparison. 

If none, allow user to requery or skip. If single product, add to collection.  If multiple, prompt user to select the correct one</description>
        <name>RequestedProductFound</name>
        <label>RequestedProductFound?</label>
        <locationX>952</locationX>
        <locationY>2390</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_PBE_from_query.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_PBE_from_query.multipleOutputMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requery_For_Products</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
        <rules>
            <name>Single_Product2_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_PBE_from_query.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAddProductRequestFields</targetReference>
            </connector>
            <label>Single Product2 Record Found</label>
        </rules>
        <rules>
            <name>Many_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_PBE_from_query.multipleOutputMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Products_Found</targetReference>
            </connector>
            <label>Many Products Found</label>
        </rules>
    </decisions>
    <description>Adding Pricing Division Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>BuildQueryInClause</name>
        <dataType>String</dataType>
        <expression>{!TransformedProductCodes} &amp; &quot;&#39;&quot; &amp; 
IF(
      Contains({!UserEnteredProductCodes}, &quot; &quot;), 
                (LEFT({!UserEnteredProductCodes},FIND(&quot; &quot;,{!UserEnteredProductCodes})-1))  &amp; &quot;&#39;,&quot; , 
              ( {!UserEnteredProductCodes}) &amp; &quot;&#39;&quot; )</expression>
    </formulas>
    <formulas>
        <name>EnterValuesNoSpaces</name>
        <dataType>String</dataType>
        <expression>TRIM( {!Enter_Values} )</expression>
    </formulas>
    <formulas>
        <name>fmlaFormatCurrentPricingDivision</name>
        <dataType>String</dataType>
        <expression>&quot;&#39;&quot; &amp; {!Loop_Thru_Pricing_Division} &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlaNavigatetoCommQuoteURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260})) + &#39;s/sfdcpage/&#39; + URLENCODE(&#39;/apex/SBQQ__sb?&amp;id=&#39;) &amp; {!GetQuote.Id}</expression>
    </formulas>
    <formulas>
        <description>formats Value -&gt;  &#39;Value&#39; so it can be used in an IN soql query</description>
        <name>formatInputForInQuery</name>
        <dataType>String</dataType>
        <expression> &quot;&#39;&quot; &amp; {!Loop_through_input_collection} &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>grableftvalue</name>
        <dataType>String</dataType>
        <expression>IF(
      Contains({!UserEnteredProductCodes}, &quot; &quot;), 
                (LEFT({!UserEnteredProductCodes},FIND(&quot; &quot;,{!UserEnteredProductCodes})-1)) , 
              ( {!UserEnteredProductCodes})  )</expression>
    </formulas>
    <formulas>
        <name>INQuery</name>
        <dataType>String</dataType>
        <expression>&quot;select id, &quot;
&amp;  IF({!queryScope}  = &#39;Name&#39;, &quot;&quot; , {!queryScope} &amp; &quot;,&quot;)
&amp; &quot; name, Product2Id&quot; 
&amp; &quot; from PricebookEntry where &quot; &amp; {!queryScope} &amp; &quot; in (&quot; &amp; {!Format_SOQL_IN_Query.csvString} &amp;  &quot;) and Product2.Restrict_User_Access_to_Product__c = false and Pricebook2Id=&#39;&quot; &amp; {!GetQuote.SBQQ__PricebookId__c} &amp; &quot;&#39;&quot; &amp; &quot; and Product_External_ID__c != NULL and CurrencyIsoCode = &#39;&quot; &amp; TEXT({!GetQuote.CurrencyIsoCode}) &amp; &quot;&#39; and Product2.Pricing_Division_Code__c  in (&quot; &amp; {!Convert_Pricing_Division_Collection_to_String.csvString} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>loopcountplusone</name>
        <dataType>Number</dataType>
        <expression>{!loopcount} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>navigatetoquoteurl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260})) + &#39;apex/sbqq__sb?scontrolCaching=1&amp;id=&#39; + {!recordId}+ &#39;#quote/le?qId=&#39; + {!recordId}</expression>
    </formulas>
    <formulas>
        <name>Product2Queryscope</name>
        <dataType>String</dataType>
        <expression>&quot;Product2.&quot; &amp; {!queryScope}</expression>
    </formulas>
    <formulas>
        <name>querySingleProduct</name>
        <dataType>String</dataType>
        <expression>&quot;select id, name, Product2id, &quot; &amp;  {!queryScope} &amp; &quot;  from PricebookEntry where &quot; &amp; {!queryScope} &amp; &quot; like &#39;&quot; &amp;  {!Text_for_research} &amp;  &quot;&#39; and Pricebook2Id=&#39;&quot; &amp; {!GetQuote.SBQQ__PriceBook__c} &amp; &quot;&#39;&quot;</expression>
    </formulas>
    <formulas>
        <name>RemoveParsedValue</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!UserEnteredProductCodes}, &quot; &quot;),
       TRIM((RIGHT({!UserEnteredProductCodes},LEN({!UserEnteredProductCodes})-FIND(&quot; &quot;,{!UserEnteredProductCodes})))), 
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>UserEnteredOrderplusOne</name>
        <dataType>Number</dataType>
        <expression>{!UserEnteredOrder} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CreateAddProductsJob - PBE verssion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAddProductsJob - PBE version</label>
    <loops>
        <name>Assign_Generic_Sobject_to_product</name>
        <label>Assign Generic Sobject to product</label>
        <locationX>358</locationX>
        <locationY>2990</locationY>
        <collectionReference>queryforpbe.sObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProductToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_a_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through each AddProductRequest</description>
        <name>Loop_Through_AddProductsRequestedCollection</name>
        <label>Loop Through AddProductsRequestedCollection</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <collectionReference>AddProductsRequestedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_PBE_from_query</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_initial_add_products_job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_items</name>
        <label>Loop Through all items</label>
        <locationX>182</locationX>
        <locationY>4214</locationY>
        <collectionReference>AddProductCreateCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Count_of_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_final_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through each user requested input</description>
        <name>Loop_through_input_collection</name>
        <label>Loop through input collection</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Parseuserenteredvaluestoacollection.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Add_Product_records_from_user_input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>commit_transaction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Pricing_Division</name>
        <label>Loop Thru Pricing Division</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <collectionReference>CPQ_Pricing_Division_Picklist.selectedValuesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Pricing_Division_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_Pricing_Division_Collection_to_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Multiple_Products_Found</name>
        <label>Multiple Products Found</label>
        <locationX>1150</locationX>
        <locationY>2510</locationY>
        <collectionReference>Find_PBE_from_query.multipleOutputMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignProductToCollection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_a_Product_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_create_a_new_addproductjob</name>
        <label>Create create a new addproductjob</label>
        <locationX>270</locationX>
        <locationY>5054</locationY>
        <assignRecordIdToReference>currentaddproductjobid</assignRecordIdToReference>
        <connector>
            <targetReference>reset_counter</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>AddProductsJob__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_final_collection</name>
        <label>create final collection</label>
        <locationX>182</locationX>
        <locationY>5726</locationY>
        <connector>
            <targetReference>Updatejob_to_in_progress</targetReference>
        </connector>
        <inputReference>FinalAddProductsCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_first_final_create_collection</name>
        <label>Create first final create collection</label>
        <locationX>270</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>Update_to_in_progress</targetReference>
        </connector>
        <inputReference>FinalAddProductsCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_initial_add_products_job</name>
        <label>Create initial add products job</label>
        <locationX>182</locationX>
        <locationY>3974</locationY>
        <assignRecordIdToReference>currentaddproductjobid</assignRecordIdToReference>
        <connector>
            <targetReference>commit_transaction_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>AddProductsJob__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_calc_on_quote</name>
        <label>Trigger calc on quote</label>
        <locationX>182</locationX>
        <locationY>5966</locationY>
        <connector>
            <targetReference>Redirect_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_in_progress</name>
        <label>Update to in progress</label>
        <locationX>270</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>commit_transaction_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentaddproductjobid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>AddProductsJob__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updatejob_to_in_progress</name>
        <label>Update job to in progress</label>
        <locationX>182</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>Trigger_calc_on_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentaddproductjobid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>AddProductsJob__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_a_Product</name>
        <label>Choose a Product</label>
        <locationX>358</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignAddProductRequestFields_0</targetReference>
        </connector>
        <fields>
            <name>PBESelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ProductCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:479, ProductCode:479</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PricebookEntriesFound</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_a_Product_0</name>
        <label>Choose a Product</label>
        <locationX>1150</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignAddProductRequestFields_0_0</targetReference>
        </connector>
        <fields>
            <name>multipleproductsinstructions</name>
            <fieldText>&lt;p&gt;We found multiple products matching that {!queryScope}.  Please select a product below to continue.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ManyProductsFound</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>ProductCode,Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>ProductCode:135, Name:715</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PricebookEntriesForSelection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Products</name>
        <label>Enter Products</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To add multiple products to the Quote, please select Catalog Number if you do not know the Part Number.  Then paste your values into the box below based on your delimiter.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Scope</name>
            <choiceReferences>ProductCodeChoice</choiceReferences>
            <choiceReferences>Name</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProductCodeChoice</defaultSelectedChoiceReference>
            <fieldText>Select Scope</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SetDelimiter</name>
            <choiceReferences>NewLine</choiceReferences>
            <choiceReferences>commaseparated</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewLine</defaultSelectedChoiceReference>
            <fieldText>Set Delimiter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Values</name>
            <fieldText>Enter Values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1678</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fault</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 32, 32);&quot;&gt;We were unable to find a match for: {!Loop_Through_AddProductsRequestedCollection.User_Entered_Product_Key__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Whoops, something went wrong.  We didn&#39;t find any records for your search.  Please try again.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;If the issue persists, please contact the Salesforce Admin with the following details:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i&gt;&quot;Add Product Request failed at Find Records in Collection&quot;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Requery_For_Products</name>
        <label>Requery For Products</label>
        <locationX>490</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>requery_or_skip_failed</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Whoops, no product was found using that {!Select_Scope}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You searched for: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Through_AddProductsRequestedCollection.User_Entered_Product_Key__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choice</name>
            <choiceReferences>Researchforproducts</choiceReferences>
            <choiceReferences>Skipandaddlater</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Researchforproducts</defaultSelectedChoiceReference>
            <fieldText>How do you want to proceed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>queryinstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Find a new Product by searching for a new {!Select_Scope} below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Researchforproducts</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_for_research</name>
            <dataType>String</dataType>
            <fieldText>Text for research</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Researchforproducts</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instructionsfortext</name>
            <fieldText>&lt;p&gt;Tips:  &lt;/p&gt;&lt;p&gt;-use % for a wildcard.  For example &#39;1%&#39; will return 1, 10, 100, etc. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Researchforproducts</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_Products</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>linebreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AddProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>AddProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AddProductCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>AddProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>AddProductRequested</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>AddProductsRequestedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>AddProjectJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AddProductsJob__c</objectType>
    </variables>
    <variables>
        <name>CollectionEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentaddproductjob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProductsJob__c</objectType>
    </variables>
    <variables>
        <name>currentaddproductjobid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>delimiter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalAddProductsCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>formattedCollectionOfPricingDivisions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputformattedForInQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InQueryFormattedCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricebookEntriesForSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PricebookEntriesFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductCodeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsForSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>queryScope</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queryUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransformedProductCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEnteredOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserEnteredProductCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
