unpackaged/main/default/flows/ProductSwap_Updated_With_Loops.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Part_Number_to_Collection</name>
        <label>Add Part Number to Collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>partNumberOverrideCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Products.part_number_override__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_quote_line_update_collection</name>
        <label>add to quote line update collection</label>
        <locationX>484</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>quotelinestoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_edited_rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_edited_rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_collection_count</name>
        <label>assign collection count</label>
        <locationX>484</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>filtercollectioncount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>find_product_from_search_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decide_if_product_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_productid</name>
        <label>assign productid</label>
        <locationX>440</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_product_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sales_Rpt_06_Product_Line_Revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_product_records.Sales_Rpt_06_Product_Line_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_product_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Product_id</name>
        <label>Assign Quote Line Product id</label>
        <locationX>352</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>loop_through_edited_rows.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_through_edited_rows.Sales_Rpt_06_Product_Line_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Rpt_06_Product_Line_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_quote_line_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Product_id_0</name>
        <label>Assign Quote Line Product id</label>
        <locationX>616</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>loop_through_edited_rows.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_unknown_part.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>error</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>find_product_from_search_collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>find product from search collection</label>
        <locationX>484</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_find_product_from_search_collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products_In_Part_Number_Override_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_find_product_from_search_collection.Search_Text__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_through_edited_rows.part_number_override__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_collection_count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decide_if_product_found</name>
        <label>decide if product found</label>
        <locationX>484</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Assign_Quote_Line_Product_id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>product null</defaultConnectorLabel>
        <rules>
            <name>product_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filtercollectioncount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_product_records</targetReference>
            </connector>
            <label>product found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProductSwap - Updated With Loops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProductSwap - Updated With Loops</label>
    <loops>
        <name>loop_through_edited_rows</name>
        <label>loop through edited rows</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <collectionReference>overridetable.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_product_from_search_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatequotelines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_product_records</name>
        <label>loop through product records</label>
        <locationX>352</locationX>
        <locationY>1574</locationY>
        <collectionReference>Get_Products_In_Part_Number_Override_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_productid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Quote_Line_Product_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Products</name>
        <label>Loop Thru Products</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>overridetable.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Part_Number_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products_In_Part_Number_Override_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_all_quote_lines</name>
        <label>get all quote lines</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setquotelineoverridetable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_In_Part_Number_Override_Collection</name>
        <label>Get Products In Part Number Override Collection</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_edited_rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Search_Text__c</field>
            <operator>In</operator>
            <value>
                <elementReference>partNumberOverrideCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Division_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COPE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_unknown_part</name>
        <label>get unknown part</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UnknownPart</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatequotelines</name>
        <label>updatequotelines</label>
        <locationX>176</locationX>
        <locationY>2342</locationY>
        <inputReference>quotelinestoupdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>616</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>add_to_quote_line_update_collection</targetReference>
        </connector>
        <fields>
            <name>errordisplay</name>
            <fieldText>&lt;p&gt;You&#39;ve requested a part that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Does not exist &lt;strong&gt;OR&lt;/strong&gt; &lt;/li&gt;&lt;li&gt;You do not have permission to add. &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;We will add the products at $0 and an Atkore representative will follow up with a quoted price.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>setquotelineoverridetable</name>
        <label>setquotelineoverridetable</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Thru_Products</targetReference>
        </connector>
        <fields>
            <name>overridetable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SBQQ__QuoteLine__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>SBQQ__QuoteLine__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_all_quote_lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>part_number_override__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>SBQQ__ProductName__c,SBQQ_Description_Display__c,SBQQ__ProductCode__c,part_number_override__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>part_number_override__c:Part Number Override</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>SBQQ__ProductName__c:175, SBQQ_Description_Display__c:250, SBQQ__ProductCode__c:130, part_number_override__c:250</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_unknown_part</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_find_product_from_search_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>filtercollectioncount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>partNumberOverrideCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quotelinestoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Rpt_06_Product_Line_Revenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
