unpackaged/main/default/flows/ProductAdder_v2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>after creating quote lines, commit trasnaction so we can run a calculate sequence</description>
        <name>commit_transaction</name>
        <label>commit transaction</label>
        <locationX>994</locationX>
        <locationY>1954</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>update_quote_calculating_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>after creating quote lines, commit trasnaction so we can run a calculate sequence</description>
        <name>commit_transaction_0</name>
        <label>commit transaction</label>
        <locationX>1272</locationX>
        <locationY>2084</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>is_community_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>createquotelines</name>
        <label>createquotelines</label>
        <locationX>801</locationX>
        <locationY>1929</locationY>
        <actionName>CreateQuoteLines</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>commit_transaction</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addproducts</name>
            <value>
                <elementReference>getNewRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebookId</name>
            <value>
                <elementReference>get_standard_pricebook.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigatetoquote</name>
        <label>navigatetoquote</label>
        <locationX>904</locationX>
        <locationY>2334</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>navigatetoquoteformula</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>navigatetoquote_0</name>
        <label>navigatetoquote</label>
        <locationX>1138</locationX>
        <locationY>2336</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>communityQuoteurl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Remove_Fake_ID</name>
        <label>Remove Fake ID</label>
        <locationX>1020</locationX>
        <locationY>738</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign_to_create_collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AddProduct__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>AddProduct__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>addproducttable.outputEditedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Id&quot;: &quot;&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_to_create_collection</name>
        <label>assign to create collection</label>
        <locationX>841</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>addProductCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Remove_Fake_ID.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>go_to_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigncollection</name>
        <label>assigncollection</label>
        <locationX>716</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addProductRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addProductRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fakeid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addProductRecord.AddProductsJob__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createAddProductJob</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addProductCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addProductRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_product_notes</name>
        <label>build product notes</label>
        <locationX>1524</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Productnotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createproductnotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productsnull</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_addproducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clear_existing_variables</name>
        <label>clear existing variables</label>
        <locationX>442</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>addProductCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyAddProductCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assigncollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>counter</name>
        <label>counter</label>
        <locationX>1008</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>set_table</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greater than 50</defaultConnectorLabel>
        <rules>
            <name>less_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigncollection</targetReference>
            </connector>
            <label>less than 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_if_product_found</name>
        <label>decide if product found</label>
        <locationX>1508</locationX>
        <locationY>1329</locationY>
        <defaultConnector>
            <targetReference>build_product_notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>product is null</defaultConnectorLabel>
        <rules>
            <name>product_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_addproducts.Product__r.ProductCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UnknownPart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_addproducts</targetReference>
            </connector>
            <label>product is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>decide_if_products_null</name>
        <label>decide if products null</label>
        <locationX>976</locationX>
        <locationY>1461</locationY>
        <defaultConnector>
            <targetReference>get_standard_pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>products_null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsnull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>debugtext</targetReference>
            </connector>
            <label>products null true</label>
        </rules>
    </decisions>
    <decisions>
        <name>go_to_quote</name>
        <label>go to quote?</label>
        <locationX>449</locationX>
        <locationY>777</locationY>
        <defaultConnector>
            <targetReference>CreateAddProductRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go to Quote</defaultConnectorLabel>
        <rules>
            <name>Add_More_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navbuttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add More Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_existing_variables</targetReference>
            </connector>
            <label>Add More Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_community_user</name>
        <label>is community user</label>
        <locationX>1059</locationX>
        <locationY>2201</locationY>
        <defaultConnector>
            <targetReference>navigatetoquote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>internal</defaultConnectorLabel>
        <rules>
            <name>community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>navigatetoquote_0</targetReference>
            </connector>
            <label>community</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>communityQuoteurl</name>
        <dataType>String</dataType>
        <expression>&quot;https://atkore--uat.sandbox.my.site.com/s/sfdcpage/%2Fapex%2FSBQQ__sb%3F%26id%3D&quot; &amp; {!recordId}</expression>
    </formulas>
    <formulas>
        <name>fakeid</name>
        <dataType>String</dataType>
        <expression>IF ( 
LEN( TEXT( {!count} )) = 2, 
&quot;a7J0000000000000&quot; &amp; TEXT( {!count} ), 
&quot;a7J00000000000000&quot; &amp; TEXT( {!count} )
)</expression>
    </formulas>
    <formulas>
        <name>navigatetoquoteformula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_260})) + &#39;apex/sbqq__sb?scontrolCaching=1&amp;id=&#39; + {!recordId}+ &#39;#quote/le?qId=&#39; + {!recordId}</expression>
    </formulas>
    <interviewLabel>ProductAdder v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProductAdder v2.0</label>
    <loops>
        <name>loop_through_addproducts</name>
        <label>loop through addproducts</label>
        <locationX>980</locationX>
        <locationY>1262</locationY>
        <collectionReference>getNewRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decide_if_product_found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decide_if_products_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAddProductJob</name>
        <label>createAddProductJob</label>
        <locationX>716</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>assigncollection</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>AddProductsJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAddProductRecords</name>
        <label>CreateAddProductRecords</label>
        <locationX>779</locationX>
        <locationY>945</locationY>
        <connector>
            <targetReference>getNewRecords</targetReference>
        </connector>
        <inputReference>addProductCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_standard_pricebook</name>
        <label>get standard pricebook</label>
        <locationX>981</locationX>
        <locationY>1734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createquotelines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNewRecords</name>
        <label>getNewRecords</label>
        <locationX>980</locationX>
        <locationY>1142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_addproducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AddProductsJob__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createAddProductJob</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AddProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_quote_calculating_field</name>
        <label>update quote calculating field</label>
        <locationX>1252</locationX>
        <locationY>1899</locationY>
        <connector>
            <targetReference>commit_transaction_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>debugtext</name>
        <label>debugtext</label>
        <locationX>1081</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_standard_pricebook</targetReference>
        </connector>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;The following products have not been assigned a list price. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will add the products at $0 and an Atkore representative will follow up with a quoted price:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Productnotes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>set_table</name>
        <label>set table</label>
        <locationX>982</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_Fake_ID</targetReference>
        </connector>
        <fields>
            <name>Navbuttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add More Products&quot;,&quot;value&quot;:&quot;Add More Products&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Go to Quote&quot;,&quot;value&quot;:&quot;Go to Quote&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>addproducttable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AddProduct__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AddProduct__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>User_Entered_Product_Key__c,Quantity__c,Multiplier__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>User_Entered_Product_Key__c:175, Quantity__c:105, Multiplier__c:110</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>addProductCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>User_Entered_Product_Key__c:Product Key</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Add Products By Key</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>createAddProductJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>createproductnotes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Productnotes}
{!loop_through_addproducts.User_Entered_Product_Key__c}</text>
    </textTemplates>
    <variables>
        <name>addProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>addProductCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>addProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>emptyAddProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddProduct__c</objectType>
    </variables>
    <variables>
        <name>Productnotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productsnull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
