unpackaged/main/default/flows/Quote_Subflow_Fetch_Build_Quote_Terms_for_Cloned_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Quote_Terms_Collection</name>
        <label>Add to Quote Terms Collection</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>quoteTermsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Source_Terms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Source_Terms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_ID</name>
        <label>Set Quote ID</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_Source_Terms.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Quote_Terms_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Cloned</name>
        <label>Quote Cloned?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueQuoteCloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Terms_From_Source_Quote</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Has_Terms</name>
        <label>Source Has Terms?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueSourceHasTerms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Terms_From_Source_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Source_Terms</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Subflow - Fetch &amp; Build Quote Terms for Cloned Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Subflow - Fetch &amp; Build Quote Terms for Cloned Quotes</label>
    <loops>
        <name>Loop_Thru_Source_Terms</name>
        <label>Loop Thru Source Terms</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Terms_From_Source_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Quote_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Terms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Terms</name>
        <label>Create Quote Terms</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>quoteTermsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Terms_From_Source_Quote</name>
        <label>Get Terms From Source Quote</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Has_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SBQQ__Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteTerm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Cloned</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>quoteTermsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteTerm__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
