unpackaged/main/default/flows/Quote_On_Create_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Josh R. - Overhauling of Pre-Paid Freight Term Fetching</description>
    <environments>Default</environments>
    <interviewLabel>Quote - On Create (After Save) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - On Create (After Save)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agency</name>
        <label>Get Agency</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Segmentation_By_Business_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Draft Record Type</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Agency</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Rep_d_Products__c</field>
            <value>
                <elementReference>$Record.Agency__r.CPQ_Pricing_Divisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Finalized__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Submitted__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedDate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedUser__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Pre_Paid_Freight_Terms</name>
        <label>Build Pre-Paid Freight Terms</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Build_Quote_Terms</targetReference>
        </connector>
        <flowName>Quote_Subflow_Fetch_Build_Pre_Paid_Freight_Terms</flowName>
        <inputAssignments>
            <name>quoteAgency</name>
            <value>
                <elementReference>Get_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Build_Quote_Terms</name>
        <label>Build Quote Terms</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <flowName>Quote_Subflow_Fetch_Build_Quote_Terms_for_Cloned_Quotes</flowName>
        <inputAssignments>
            <name>quoteAgency</name>
            <value>
                <elementReference>Get_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fetch_Segmentation_By_Business_Unit</name>
        <label>Fetch Segmentation By Business Unit</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Build_Pre_Paid_Freight_Terms</targetReference>
        </connector>
        <flowName>Subflow_Fetch_Segmentation_for_New_Quotes</flowName>
        <inputAssignments>
            <name>quoteID</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>collectionOfTermsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <description>Collection of Pre-Paid Freight Terms to Fetch From Master Library</description>
        <name>collectionOfTermsToFetch</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prepaidFreightTermToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <name>socvPPFTs_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <name>sovPPFT_To_Add</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <name>sovQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
