unpackaged/main/default/flows/Quote_Subflow_Fetch_Build_Pre_Paid_Freight_Terms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_Pricing_Division_Picklist</name>
        <label>Manage Pricing Division Picklist</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <actionName>ManageMultiselectField</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Master_Library_Terms</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__curRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>CPQ_Pricing_Divisions__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>curRecord</name>
            <value>
                <elementReference>quoteAgency</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Term_to_Collection</name>
        <label>Add Term to Collection</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>collectionOfTermsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prePaidFreightTermsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Master_Terms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Pre_Paid_Freight_Term</name>
        <label>Build Pre-Paid Freight Term</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>prePaidFreightTermsToCreate.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prePaidFreightTermsToCreate.Product_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Master_Terms.Product_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prePaidFreightTermsToCreate.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Master_Terms.Pricing_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prePaidFreightTermsToCreate.Pre_Paid_Threshold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Master_Terms.Pre_Paid_Threshold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Term_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Pre_Paid_Freight_Terms</name>
        <label>Create Pre-Paid Freight Terms?</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueCreatePrePaidFreightTerms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionOfTermsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pre_Paid_Freight_Terms_From_Collection</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Pricing_Divisions</name>
        <label>Has Pricing Divisions?</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueHasPricingDivisions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteAgency.CPQ_Pricing_Divisions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Pricing_Division_Picklist</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Division_Has_Master_Terms</name>
        <label>Pricing Division Has Master Terms</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueMasterTerms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Master_Library_Terms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Master_Terms</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Subflow - Fetch &amp; Build Pre-Paid Freight Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Subflow - Fetch &amp; Build Pre-Paid Freight Terms</label>
    <loops>
        <name>Loop_Thru_Master_Terms</name>
        <label>Loop Thru Master Terms</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Master_Library_Terms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Pre_Paid_Freight_Term</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Pre_Paid_Freight_Terms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pre_Paid_Freight_Terms_From_Collection</name>
        <label>Create Pre-Paid Freight Terms</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <inputReference>collectionOfTermsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Master_Library_Terms</name>
        <label>Get Master Library Terms</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Division_Has_Master_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_Library__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Division_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Manage_Pricing_Division_Picklist.selectedValuesList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pre_Paid_Freight_Term__c</object>
        <sortField>Pricing_Division_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Pricing_Divisions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionOfTermsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <name>prePaidFreightTermsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pre_Paid_Freight_Term__c</objectType>
    </variables>
    <variables>
        <description>Account Record from Quote</description>
        <name>quoteAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
