unpackaged/main/default/flows/Quote_Review_Request_On_Create_Edit_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Owner</name>
        <label>Send Email to Owner</label>
        <locationX>1551</locationX>
        <locationY>483</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tt_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>fmlaSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Approval_Status</name>
        <label>Approval Status?</label>
        <locationX>685</locationX>
        <locationY>753</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_RR_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_RR_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_RR_Pending_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>FRE Pricing Division Allows for Auto Approvals below a certain multiplier threshold.</description>
        <name>FRE</name>
        <label>FRE?</label>
        <locationX>1023</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueFRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricing_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_QRR_for_FRE_Auto_Approve_Conditions</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Create</name>
        <label>On Create?</label>
        <locationX>820</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Submitted_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Create_o</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FRE</targetReference>
            </connector>
            <label>On Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Quote_RRs_Found</name>
        <label>Other Quote RRs Found?</label>
        <locationX>219</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Pending_Quote_RRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>QRR_was_Auto_Approved</name>
        <label>QRR was Auto Approved?</label>
        <locationX>1350</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Submitted_Date_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE</defaultConnectorLabel>
        <rules>
            <name>falseSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_QRR_for_FRE_Auto_Approve_Conditions.autoApproveDecisionOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Owner</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submitted_Date_Populated</name>
        <label>Submitted Date Populated</label>
        <locationX>699</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>Approval_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SubmittedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_Date_Time</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlaSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Quote__r.Co_Load_Email_Text__c} 
&amp; &quot; Quote &quot; 
&amp; {!$Record.Quote__r.Name} 
&amp; &quot; has been submitted for your review&quot;</expression>
    </formulas>
    <interviewLabel>Quote Review Request (On Create/Edit) After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Review Request (On Create/Edit) After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Pending_Quote_RRs</name>
        <label>Get Other Pending Quote RRs</label>
        <locationX>351</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Quote_RRs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Review_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>229</locationX>
        <locationY>1140</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovalStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124O000000atC1QAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_RR_Approved</name>
        <label>Update Quote RR (Approved)</label>
        <locationX>489</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Get_Other_Pending_Quote_RRs</targetReference>
        </connector>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_RR_Pending</name>
        <label>Update Quote RR (Pending)</label>
        <locationX>693</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_RR_Pending_0</name>
        <label>Update Quote RR (Pending)</label>
        <locationX>904</locationX>
        <locationY>926</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_Date_Time</name>
        <label>Update Submitted Date/Time</label>
        <locationX>484</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>Approval_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Submitted_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>On_Create</targetReference>
        </connector>
        <object>Quote_Review_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_QRR_for_FRE_Auto_Approve_Conditions</name>
        <label>Check QRR for FRE Auto Approve Conditions</label>
        <locationX>1178</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>QRR_was_Auto_Approved</targetReference>
        </connector>
        <flowName>Subflow_Quote_Review_Request_Auto_Approve_FRE</flowName>
        <inputAssignments>
            <name>quoteReviewRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>tt_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Record.Quote__r.Agent_Contact_Name__c} submitted Quote {!$Record.Quote__r.Name} for your review.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Pricing Justification:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.Pricing_Justification__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Record.Quote__r.Account_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Opportunity Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.Quote__r.SBQQ__Opportunity2__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Agency Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!$Record.Agency__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Link to Quote: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Link_to_Quote__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(47, 84, 195); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Quote {!$Record.Quote__r.Name} has been submitted for your review&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
