unpackaged/main/default/flows/set_AddProduct_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>null_handle</name>
        <label>null handle</label>
        <locationX>173</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>update_addproduct_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isnull</defaultConnectorLabel>
        <rules>
            <name>product_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>null_handle_0</targetReference>
            </connector>
            <label>product found</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_handle_0</name>
        <label>null handle</label>
        <locationX>370</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>update_addproduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>known</defaultConnectorLabel>
        <rules>
            <name>Unknown_Part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_id.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnknownPart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_addproduct_0</targetReference>
            </connector>
            <label>Unknown Part</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>set AddProduct Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>set AddProduct Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_product_id</name>
        <label>get product id</label>
        <locationX>559</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_product_id_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Search_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User_Entered_Product_Key__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_product_id_0</name>
        <label>get product id</label>
        <locationX>371</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_handle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UnknownPart</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_addproduct</name>
        <label>update addproduct</label>
        <locationX>600</locationX>
        <locationY>682</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>get_product_id.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_addproduct_0</name>
        <label>update addproduct</label>
        <locationX>302</locationX>
        <locationY>730</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>get_product_id_0.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>432</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_product_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Entered_Product_Key__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AddProduct__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
