unpackaged/main/default/flows/Subflow_Fetch_Segmentation_for_New_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Customer_Group_Label_AFC</name>
        <label>Set Customer Group Label</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_ECFC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_ALFITT</name>
        <label>Set Customer Group Label</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_Conduit_Cable_Fittings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_Cable_Management</name>
        <label>Set Customer Group Label</label>
        <locationX>2640</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_Cable_Manage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_CORRRES</name>
        <label>Set Customer Group Label</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_Aluminum_Conduit_Fittings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_ECN</name>
        <label>Set Customer Group Label</label>
        <locationX>1056</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_ECN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_FRE</name>
        <label>Set Customer Group Label</label>
        <locationX>2376</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_FRE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_MTLFRM</name>
        <label>Set Customer Group Label</label>
        <locationX>1320</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_Metal_Framing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_PVCCON</name>
        <label>Set Customer Group Label</label>
        <locationX>1584</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_PVC_Conduit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_PVCFIT</name>
        <label>Set Customer Group Label</label>
        <locationX>1848</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_PVC_Fittings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Group_Label_STEELCON</name>
        <label>Set Customer Group Label</label>
        <locationX>2112</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteID.Segmentation_Steel_Conduit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Thru.Customer_Group_Label__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Segmentation_Variables</name>
        <label>Assign Segmentation Variables</label>
        <locationX>1584</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Iterate_Thru</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricing Division Code</defaultConnectorLabel>
        <rules>
            <name>Aluminum_Conduit_Fittings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CORRRES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_CORRRES</targetReference>
            </connector>
            <label>Aluminum Conduit &amp; Fittings</label>
        </rules>
        <rules>
            <name>Conduit_Cable_Fittings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALFITT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_ALFITT</targetReference>
            </connector>
            <label>Conduit &amp; Cable Fittings</label>
        </rules>
        <rules>
            <name>ECFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AFC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_AFC</targetReference>
            </connector>
            <label>ECFC</label>
        </rules>
        <rules>
            <name>ECN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_ECN</targetReference>
            </connector>
            <label>ECN</label>
        </rules>
        <rules>
            <name>Metal_Framing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MTLFRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_MTLFRM</targetReference>
            </connector>
            <label>Metal Framing</label>
        </rules>
        <rules>
            <name>PVC_Conduit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVCCON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_PVCCON</targetReference>
            </connector>
            <label>PVC Conduit</label>
        </rules>
        <rules>
            <name>PVC_Fittings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PVCFIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_PVCFIT</targetReference>
            </connector>
            <label>PVC Fittings</label>
        </rules>
        <rules>
            <name>Steel_Conduit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STEELCON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_STEELCON</targetReference>
            </connector>
            <label>Steel Conduit</label>
        </rules>
        <rules>
            <name>FRE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_FRE</targetReference>
            </connector>
            <label>FRE</label>
        </rules>
        <rules>
            <name>COPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Thru.Pricing_Division_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COPE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Group_Label_Cable_Management</targetReference>
            </connector>
            <label>Cable Management</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow - Fetch Segmentation for New Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Fetch Segmentation for New Quotes</label>
    <loops>
        <name>Iterate_Thru</name>
        <label>Iterate Thru</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_All_Segmentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Segmentation_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Segmentation</name>
        <label>Get All Segmentation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Thru</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteID.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Effective_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Division_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <inputReference>quoteID</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Segmentation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
