unpackaged/main/default/flows/Subflow_Quote_Review_Request_Auto_Approve_FRE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Min_Multiplier_for_Approval_Rule</name>
        <label>Set Min. Multiplier for Approval Rule</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>autoApproveDecisionOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Review_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QRR_Fields_for_Approved</name>
        <label>Update QRR Fields to Approved</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>quoteReviewRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteReviewRequest.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>autoApproveDecisionOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteReviewRequest.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteReviewRequest.Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Review_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the record is null, no quote lines were found that need review. In that case, proceed to auto approve.</description>
        <name>Auto_Approve</name>
        <label>Auto Approve?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Min_Multiplier_for_Approval_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>trueAutoApprove</name>
            <conditionLogic>1 OR (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Multipliers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteReviewRequest.Quote__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteReviewRequest.Quote__r.Gross_Invoice_FRE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>quotedTotalFREThreshold</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteReviewRequest.Quote__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>quoteReviewRequest.Quote__r.Gross_Invoice_FRE__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>quotedTotalFREThresholdCAD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QRR_Fields_for_Approved</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>quotedTotalFREThresholdCAD</name>
        <dataType>Number</dataType>
        <expression>{!quotedTotalFREThreshold} * CURRENCYRATE(&quot;CAD&quot;)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subflow - Quote Review Request - Auto Approve FRE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Quote Review Request - Auto Approve FRE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Quote Lines below the multiplier value need to be reviewed. Find any Quote Line that meets these conditions.</description>
        <name>Get_Quote_Line_Multipliers</name>
        <label>Get Quote Line Multipliers</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auto_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteReviewRequest.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Multiplier__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.72</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Review_Request</name>
        <label>Update Quote Review Request</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <inputReference>quoteReviewRequest</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Multipliers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>autoApproveDecisionOutcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Minimum Quote Line Multiplier</description>
        <name>minMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>quotedTotalFREThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>35000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>quoteReviewRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Review_Request__c</objectType>
    </variables>
</Flow>
