unpackaged/main/default/flows/Submit_CPQ_Quote_For_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Quote_RR_to_Collection</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ALFITT_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STEELCON_ECN_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AFC_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MTLFRM_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PVCCON_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0_0_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COPE_On_Quote_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0_0_0_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FRE_On_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quote_RR_to_Collection_0_0_0_0_0_0_0_0</name>
        <label>Add Quote RR to Collection</label>
        <locationX>578</locationX>
        <locationY>5270</locationY>
        <assignmentItems>
            <assignToReference>socvQuoteRRs_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovQuoteRR_To_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_RRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_for_Update</name>
        <label>Build Quote for Update</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteToUpdate.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteToUpdate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_In_Review_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteToUpdate.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmla_CRC_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_For_CRC_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaALFITT_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_for_ALFITT_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ALFITT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaSteelconECN_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_for_ECN_STEELCON_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STEELCON / ECN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaAFC_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_for_AFC_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AFC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaMTLFRM_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_for_MTLFRM_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MTLFRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0_0_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaPPC_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_fo_PPC_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0_0_0_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>4574</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaCope_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_for_COPE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COPE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Quote_RR_0_0_0_0_0_0_0_0</name>
        <label>Build Quote RR</label>
        <locationX>578</locationX>
        <locationY>5150</locationY>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaFRE_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Justification_FRE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Pricing_Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FRE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sovQuoteRR_To_Add.Submitted_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_RR_to_Collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AFC_On_Quote</name>
        <label>AFC On Quote?</label>
        <locationX>710</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>MTLFRM_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_AFC_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_AFC_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ALFITT_On_Quote</name>
        <label>ALFITT On Quote?</label>
        <locationX>710</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>STEELCON_ECN_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_ALFITT_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_ALFITT_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COPE_On_Quote_0</name>
        <label>Cable Management On Quote?</label>
        <locationX>710</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>FRE_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_Cable_Management__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Cable_Management_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRC_On_Quote</name>
        <label>CRC On Quote?</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>ALFITT_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_CRC_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_CRC_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FRE_On_Quote</name>
        <label>FRE On Quote?</label>
        <locationX>710</locationX>
        <locationY>4910</locationY>
        <defaultConnector>
            <targetReference>Create_Quote_RRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_FRE__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_FRE_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MTLFRM_On_Quote</name>
        <label>MTLFRM On Quote?</label>
        <locationX>710</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>PVCCON_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_Metal_Framing_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_MTLFRM_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_and_or_Account_Null</name>
        <label>Opportunity and/or Account Null?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Pricing_Justifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_is_Blank</targetReference>
            </connector>
            <label>Opp Null</label>
        </rules>
        <rules>
            <name>Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_is_Blank_0</targetReference>
            </connector>
            <label>Account Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>PVCCON_On_Quote</name>
        <label>PPC On Quote?</label>
        <locationX>710</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>COPE_On_Quote_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_PVCCON_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Count_PVCFIT_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Count_PVCWPIPE_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_PPC_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEELCON_ECN_On_Quote</name>
        <label>STEELCON / ECN On Quote?</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>AFC_On_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Count_ECN_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Count_Steel_Conduit_Quote_Lines__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_STEELCON_ECN_Pricing_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmla_CRC_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( {!Get_Assigned_CRC_Pricing_Manager.Id} , &#39;0050B000007wIXc&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaAFC_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_AFC_Pricing_Manager.Id} , &#39;005U0000000elfIIAQ&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaALFITT_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( {!Get_Assigned_ALFITT_Pricing_Manager.Id} , &#39;0050B000007wIXc&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaCope_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_Cable_Management_Pricing_Manager.Id}, &#39;005U0000001vH7C&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaFRE_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_FRE_Pricing_Manager.Id} , &#39;0054O00000AEkTmQAL&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaMTLFRM_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_MTLFRM_Pricing_Manager.Id} , &#39;005U0000000ele7IAA&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaPPC_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_PPC_Pricing_Manager.Id} , &#39;005U0000000eleAIAQ&#39;)</expression>
    </formulas>
    <formulas>
        <name>fmlaSteelconECN_Owner</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!Get_Assigned_STEELCON_ECN_Pricing_Manager.Id}, &#39;005U0000000eleAIAQ&#39;)</expression>
    </formulas>
    <interviewLabel>Submit CPQ Quote For Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit CPQ Quote For Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_RRs</name>
        <label>Create Quote RRs</label>
        <locationX>710</locationX>
        <locationY>5486</locationY>
        <faultConnector>
            <targetReference>errorCreateQRRforCableManagement</targetReference>
        </faultConnector>
        <inputReference>socvQuoteRRs_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_AFC_Pricing_Manager</name>
        <label>Get Assigned AFC Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_AFC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_ALFITT_Pricing_Manager</name>
        <label>Get Assigned ALFITT Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_KON__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Cable_Management_Pricing_Manager</name>
        <label>Get Assigned Cable Management Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>4454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_Cope__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_CRC_Pricing_Manager</name>
        <label>Get Assigned CRC Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_CRC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_FRE_Pricing_Manager</name>
        <label>Get Assigned FRE Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>5030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.Quotation_Specialist_FRE__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_MTLFRM_Pricing_Manager</name>
        <label>Get Assigned MTLFRM Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_PST__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_UNI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_PPC_Pricing_Manager</name>
        <label>Get Assigned PPC Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_PPC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_STEELCON_ECN_Pricing_Manager</name>
        <label>Get Assigned STEELCON/ECN Pricing Manager</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_RR_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Owner:User.QS_ATC__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_In_Review_RT</name>
        <label>Get In Review RT</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Quote_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_and_or_Account_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CRC_On_Quote</targetReference>
        </connector>
        <inputReference>sovQuoteToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>errorCreateQRRforCableManagement</name>
        <label>errorCreateQRRforCableManagement</label>
        <locationX>1018</locationX>
        <locationY>5606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessageCableManagementQRR</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_is_Blank</name>
        <label>Opportunity is Blank</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disp_opp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(166, 0, 0);&quot;&gt;You cannot submit your Quote for review if it is not associated with an Opportunity. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &#39;Close&#39;, attach your Quote to an Opportunity by updating the Opportunity field and then re-click the &#39;Submit for Review&#39; Button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_is_Blank_0</name>
        <label>Account is Blank</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disp_opp_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(166, 0, 0);&quot;&gt;You cannot submit your Quote for review if it is not associated with a Company. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &#39;Close&#39;, attach your Quote to an Company by updating the Company field and then re-click the &#39;Submit for Review&#39; Button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pricing_Justifications</name>
        <label>Pricing Justifications</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_In_Review_RT</targetReference>
        </connector>
        <fields>
            <name>Pricing_Justification_For_CRC_Lines</name>
            <fieldText>Pricing Justification For CRC Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_CRC_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_for_ALFITT_Lines</name>
            <fieldText>Pricing Justification for ALFITT Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_ALFITT_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_for_ECN_STEELCON_Lines</name>
            <fieldText>Pricing Justification for ECN/STEELCON Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_ECN_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote.Count_Steel_Conduit_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_for_AFC_Lines</name>
            <fieldText>Pricing Justification for AFC Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_AFC_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_for_MTLFRM_Lines</name>
            <fieldText>Pricing Justification for MTLFRM Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_Metal_Framing_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_fo_PPC_Lines</name>
            <fieldText>Pricing Justification for PPC Lines</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_PVCCON_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote.Count_PVCFIT_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Quote.Count_PVCWPIPE_Quote_Lines__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_for_COPE</name>
            <fieldText>Pricing Justification for Cable Management</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_Cable_Management__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pricing_Justification_FRE</name>
            <fieldText>Pricing Justification for FRE</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Quote.Count_FRE__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>socvQuoteRRs_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Review_Request__c</objectType>
    </variables>
    <variables>
        <name>sovQuoteRR_To_Add</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Review_Request__c</objectType>
    </variables>
    <variables>
        <name>sovQuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
